[Unit]
Description=Hashicorp Vault

[Service]
Type=simple
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_IPC_LOCK
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_IPC_LOCK
ExecStart=/usr/bin/vault server -config /etc/vault/vault.hcl

[Install]
WantedBy=multi-user.target
