{
  "datacenter": "local-dc",
  "data_dir": "/opt/consul",
  "log_level": "INFO",
  "node_name": "{{ ansible_hostname }}",
  "server": false,
  "protocol": 3,
  "retry_join": ["control1", "control2", "control3"],
  "advertise_addr": "{{ hostvars[inventory_hostname][hostvars[inventory_hostname]['ansible_interface_variable']]['ipv4']['address'] }}",
  "bind_addr" : "{{ hostvars[inventory_hostname][hostvars[inventory_hostname]['ansible_interface_variable']]['ipv4']['address'] }}",
  "addresses": {
    "https": "0.0.0.0",
    "dns": "0.0.0.0"
  },
  "ports": {
    "http": 0,
    "https": 8500,
    "dns": 8600
  },
  "encrypt": "{{ consul_gossip_key }}",
  "encrypt_verify_outgoing": true,
  "encrypt_verify_incoming": true,
  "key_file": "/etc/ssl/cert-key.pem",
  "cert_file": "/etc/ssl/cert.pem",
  "ca_file": "/usr/local/share/ca-certificates/Example_Root_CA.crt",
  "verify_outgoing": true,
  "verify_incoming": true
}
