datacenter = "local-dc"
data_dir   = "/var/lib/nomad"

advertise {
  http = "{{ hostvars[inventory_hostname][hostvars[inventory_hostname]['ansible_interface_variable']]['ipv4']['address'] }}"
  rpc  = "{{ hostvars[inventory_hostname][hostvars[inventory_hostname]['ansible_interface_variable']]['ipv4']['address'] }}"
  serf = "{{ hostvars[inventory_hostname][hostvars[inventory_hostname]['ansible_interface_variable']]['ipv4']['address'] }}"
}

server {
  enabled          = true
  bootstrap_expect = 3
  encrypt          = "{{ nomad_gossip_key }}"
  raft_protocol    = 3
}

consul {
  address   = "{{ ansible_hostname }}:8500"
  ssl       = true
  key_file  = "/etc/ssl/cert-key.pem"  
  cert_file = "/etc/ssl/cert.pem"
  ca_file   = "/usr/local/share/ca-certificates/Example_Root_CA.crt"
}

tls {
  http = true
  rpc  = true

  key_file  = "/etc/ssl/cert-key.pem"  
  cert_file = "/etc/ssl/cert.pem"
  ca_file   = "/usr/local/share/ca-certificates/Example_Root_CA.crt"

  # We cannot both have HTTPS health checks and verify the client.
  # So we have to sacrifice HTTPS health checks because we need the client verification.
  # https://github.com/hashicorp/nomad/commit/77d9b417c1a18320f4cd7606c47700fbac3f2199
  
  verify_https_client    = true
  verify_server_hostname = true
}
