{
  "hosts": [
    "{{ ansible_hostname }}",
    "{{ ansible_hostname }}.cluster.local",
    "server.global.nomad",
    "vault.service.consul",
    "localhost",
    "127.0.0.1",
    "127.0.1.1"
  ],
  "key": {
    "algo": "ecdsa",
    "size": 384
  },
    "names": [
        {
            "O":  "Some Organization"
        }
    ]
}
