*.retry
*.cache
*.log
*.pem
*.csr
.vagrant/
pwd.txt

terraform/do-token.tf
terraform/do_token.tf
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfstate
terraform.tfstate.backup
terraform/.terraform/
