{
  "signing": {
    "default": {
      "expiry": "8760h",
      "usages": [
        "digital signature",
        "key encipherment",
        "cert sign",
        "crl sign",
        "signing",
        "client auth",
        "server auth"
      ],
      "auth_key": "primary"
    },
    "profiles": {
      "server": {
        "usages": ["signing", "key encipherment", "server auth"],
        "expiry": "8760h"
      },
      "client": {
        "usages": ["signing","key encipherment","client auth"],
        "expiry": "8760h"
      },
      "serverclient": {
        "usages": ["signing", "key encipherment", "server auth", "client auth"],
        "expiry": "8760h"
      }
    }
  },
  "auth_keys": {
    "primary": {
        "type":"standard",
        "key":"{{ ca_shared_key }}"
    }
  }
}
