[Unit]
Description=Consul Template

[Service]
User=root
PIDFile=/run/consul-template.pid
ExecStart=/usr/bin/consul-template -config "/etc/consul-template.hcl"
Restart=always

[Install]
WantedBy=multi-user.target
