# Title: playbook.yml
# Date: 07/03/2017
# Author: Joseph J. Simpson
# Purpose: Set up a Centos 6.6 Box
# Version 0.1.0
# License:
#   playbook.yml Provision a CentOS 6.6 Q1 machine
#   Copyright (C) 2017  Joseph J. Simpson
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program; if not, write to the Free Software Foundation,
#  Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301  USA
#

---
- name: Q1 CentOS 6.6 setup
  hosts: default
  tasks:
  # Make sure the ansible.cnf file exists and set to prompt for sudo
  # password -- vagrant in this case.
  # Find the directory path to ansibl.cnf and place here...
  # Changed to Ansible 2.4 to support iptables and iptables_raw
  - name: Print message
    debug: msg="Beginning of CentOS 6.6 configuration Ansible script."

  - name: Add admin group message
    debug: msg="Add a new group, admin, to the system."

  - name: Add group admin
    command: /usr/sbin/groupadd admin
    become: true

  - name: Install libselinux-python
    yum: name='libselinux-python' state=latest
    become: true

  - name: Modify sudoers file for wheel group message
    debug: msg="Remove requirement for password for wheel members."

  - lineinfile:
      path: /etc/sudoers
      state: present
      regexp: '^%wheel\s'
      line: '%wheel ALL=(ALL) NOPASSWD: ALL'
    become: true

    # - name: Modify sudoers file for wheel group message
    # debug: msg="Remove requirement for password for wheel members."

    # - name: Modify sudoers file for wheel group
    # command: sed -i 's/#  %wheel/  %wheel/g' /etc/sudoers

    # - name: Install libselinux-python
    # yum: name='libselinux-python' state=latest
    # become: true

  - name: Print Lab 1a users add message
    debug: msg="Add two new users to the system; q1u1, q1u2."

  - name: Add user q1u1
    command: /usr/sbin/useradd -c "Q1C6 User1" -G admin q1u1
    become: true

  - name: Modify user q1u1 -- add to wheel group
    command: /usr/sbin/usermod -aG wheel q1u1
    become: true

  - name: Make .ssh directory for user q1u1
    file: path=/home/q1u1/.ssh state=directory owner=q1u1 group=q1u1 mode=0700
    become: true

  - name: Copy pubilic key into ssh/authorized keys file for q1u1
    copy: src=authorized_keys.txt dest=/home/q1u1/.ssh/authorized_keys owner=q1u1 group=q1u1 mode=0600
    become: true

  - name: Add user q1u2
    command: /usr/sbin/useradd -c "Q1C6 User2" -G admin q1u2
    become: true

  - name: Modify user q1u2 -- add to wheel group
    command: /usr/sbin/usermod -aG wheel q1u2
    become: true

  - name: Make .ssh directory for user q1u2
    file: path=/home/q1u2/.ssh state=directory owner=q1u2 group=q1u2 mode=0700
    become: true

  - name: Copy pubilic key into ssh/authorized keys file for q1u2
    copy: src=authorized_keys.txt dest=/home/q1u2/.ssh/authorized_keys owner=q1u2 group=q1u2 mode=0600
    become: true

  - name: Update yum cashe
    yum: name='*' state=latest
    become: true

    # - name: Install libselinux-python
    # yum: name='libselinux-python' state=latest
    # become: true
    # become_method: sudo
    # become_user: root

    # - name: Add ssh public key to q1u1 and q1u2, no password
    # debug: msg="Add public key to the  q1u1, q2u2 accounts."

    # - name: Make .ssh directory for user q1u1
    # file: path=/home/q1u1/.ssh state=directory owner=q1u1 group=q1u1 mode=0700
    # become: true
    # become_method: sudo
    # become_user: root

    # - name: Copy pubilic key into ssh/authorized keys file for q1u1
    # copy: src=authorized_keys dest=/home/q1u1/.ssh/authorized_keys owner=q1u1 group=q1u1 mode=0600
    # become: true
    # become_method: sudo
    # become_user: root

    # - name: Make .ssh directory for user q1u2
    # copy: src=authorized_keys dest=/home/q1u2/.ssh owner=q1u2 group=q1u2 mode=0600
    # become: true
    # become_method: sudo
    # become_user: root

    # - name: Copy pubilic key into .ssh/authorized_keys file for q1u2
    # copy: src=authorized_keys dest=/home/q1u2/.ssh/authorized_keys owner=q1u2 group=q1u2 mode=0600
    # become: true
    # become_method: sudo
    # become_user: root

  - name: Install man pages
    yum: name=man state=latest
    become: true

  - name: Install vim
    yum: name=vim state=latest
    become: true

  - name: Install vim-enhanced
    yum: name=vim-enhanced state=latest
    become: true

  - name: Install lsscsi.i686
    yum: name=lsscsi.i686 state=latest
    become: true

  - name: Install dstat
    yum: name=dstat state=latest
    become: true

  - name: Install wget
    yum: name=wget state=latest
    become: true

  - name: Install mlocate
    yum: name=mlocate.i686 state=latest
    become: true

  - name: Install bind-utils  
    yum: name=bind-utils state=latest
    become: true

  - name: Install group install Web Server
    yum: name="@Web Server" state=present
    become: true

  - name: Install telnet
    yum: name=telnet state=latest
    become: true

    # use iptables module here
    # wait for iptables code from Robert
  # - name: Save a copy of iptables current configuration
    # debug: msg="Make a copy of the current iptable configuration."

  - name: Create new ftp user ula-vsftp
    debug: msg="Create new ftp user ula-vsftp."

  - name: Change ula-vsftp user shell to /bin/noshell
    debug: msg="Change ula-vsftp user shell to /bin/noshell."

  # - name: Backup existing iptables configuration file.
    # debug: msg="Backup existing iptables configuration file."

  # - name: Check iptables status.
    # debug: msg="Check iptables status."

  - name: Edit telnet config under /etc/xinetd.d/
    debug: msg="Edit telnet config under /etc/xinetd.d/."

  - name: Install ftp -- vsftpd
    debug: msg="Install ftp -- vsftpd."

  - name: Check /etc/vsftpd/vsftp.conf
    debug: msg="Check /etc/vsftpd/vsftp.conf."

  - name: Create /etc/vsftpd/vsftpd-userlist.txt
    debug: msg="Create /etc/vsftpd/vsftpd-userlist.txt."

  - name: Start the vsftpd service
    debug: msg="Start the vsftpd service."

  - name: Open Port 21 for FTP request
    debug: msg="Open Port 21 for FTP request."

  - name: Backup named.conf file
    debug: msg="Backup named.conf file."

  - name: Replace original named.conf with contents of cach_named.txt
    debug: msg="Replace original named.conf with contents of cach_named.txt."

  - name: Update named.conf and restart named
    debug: msg="Update named.conf and restart named."

  # - name: Add firewall rules for named
    # debug: msg="Add firewall rules for named."

  - name: Update host DNS nameserver
    debug: msg="Update host DNS nameserver."

  - name:   Backup /etc/resolv.conf
    debug: msg="Backup /etc/resolv.conf."

  - name: Add a nameserver 127.0.0.1 line to the resolv.conf file.
    debug: msg="Add a nameserver 127.0.0.1 line to the resolv.conf file.."

  - name: Restart network service when done updating
    debug: msg="Restart network service when done updating."

  - name: Check for access to files under /var/named
    debug: msg="Check for access to files under /var/named."

  - name: Add Development Tools to the machine
    debug: msg="Add Development Tools to the machine."

    # Be sure to 'Update ssd config to remove root login'
    # cd /etc/ssh/
    # cp sshd_config sshd_config_bu
