header {
  padding-top: 15px;
  padding-bottom: 15px;
}

h1, h2, h3, h4 {text-transform:none }
    
#jumbotron, #jumbotron-bottom { text-shadow: 2px 2px 3px rgba(0,0,0,0.6); }

p, li {
  font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvet\
ica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height:1.5em;
  font-siz: 1.3em;
}

#jumbotron {
  height: 600px;
  background: url(landing-page/intro-bg.jpg);
}

#jumbotron div {
  left: 50%;
  color: white;
  width: 600px;
  top: 100px;
  margin-left:-300px;
  text-align:center;
}

#jumbotron-bottom {
  height: 300px;
  background: url(landing-page/banner-bg.jpg);
}

#jumbotron-bottom div {
  left: 50%;
  color: white;
  width: 600px;
  top: 50px;
  margin-left:-300px;
  text-align:center;
}

img {max-width:100% !important;}