[Unit]
Description=Nomad

[Service]
EnvironmentFile=/run/nomad-vault-token
Type=simple
ExecStart=/usr/bin/nomad agent -config=/etc/nomad

[Install]
WantedBy=multi-user.target
